<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<div class="col-12">
				<div class="container sliderimage slider justify-content-center flex-row">
					<div class="row col-12">
						<img class="rounded" src={require('../../gambar/promo.png')} alt="Responsive image"/>
					</div>
				</div>
				<div class="container notive">
					<div class="row">
						<div class="col-md-12">
							<div class="alert alert-danger danger" role="alert">
								<p class="text-white text-center">A simple success alert-check it out</p>
							</div>
						</div>
					</div>
				</div>
				{/*end slider*/}
				<div class="container slide">
					<div class="row">
						<div class="col-md-8">
							<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img src={require('../../gambar/02.jpg')} alt="" class="img-fluid "/>d-block.w-100
									</div>
									<div class="carousel-item active">
										<img src={require('../../gambar/03.jpg')} alt="" class="img-fluid "/>d-block.w-100
									</div>
									<div class="carousel-item active">
										<img src={require('../../gambar/04.jpg')} alt="" class="img-fluid "/>d-block.w-100
									</div>
									<a class="carousel-control-prev" href="caraouselExampleIndicators" role="button" data-slider="prev">
										<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</a>
									<a class="carousel-control-next" href="caraouselExampleIndicators" role="button" data-slider="next">
										<span class="carousel-control-next-icon" aria-hidden="true"></span>
										<span class="sr-only">Next</span>
									</a>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<img src={require('../../gambar/s01.png')} alt="Responsive image" class="img-fluid rounded slide"/>
							<img src={require('../../gambar/promo.png')} alt="Responsive image" class="img-fluid rounded slide"/>
						</div>
					</div>
				</div>
			</div>
</body>
</html>